.settings-bar{
    padding: 0.6rem 1rem;
    display: flex;
    flex-direction: row-reverse;
    background-color: #f2f2f2;
}
.settings-button{
    padding: 0.5rem 1rem;
    font-weight: bold;
    border: none;
    background-color: #333333;  
    color: #ffffff;
    cursor: pointer;
    margin: 0 5px;
}
.checkbox{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}